
        * {
            box-sizing: border-box;
            font-family: monospace;
        }

        body {
            background-color: #f5f5f5;
            position: relative;

        }

        .demo_links {
            text-align: center;
            position: relative;
        }

        .demo_links a {
            text-decoration: none;
            display: inline;
            color: #ff0088;
            border-bottom: 3px solid #ff8080;
            font-family: headingdemofont;
            padding-bottom: 1px;


        }
        
        /* width */
        ::-webkit-scrollbar {
        width: 0px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
        background: #ff8080; 
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
        background: #ff8080; 
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
        background: #ff8080; 
        }
        @font-face {
            font-family: headingdemofont;
            src: url('../fonts/Sansation_Bold_Italic.ttf');
        }

        .title {
            font-family: headingdemofont;

        }

        button.submit_button {

            background-color: #ff8080;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(170, 2, 2, 0.19);
            width: 30%;
            padding: 10px 10px;
            float: right;
            border: none;
            font-family: headingdemofont;
            color: lightyellow;
            cursor: pointer;
        }

        button.submit_button_reg {

            background-color: #ff8080;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(170, 2, 2, 0.19);
            width: 100%;
            padding: 10px 10px;
            margin-top: 15px;
            border: none;
            font-family: headingdemofont;
            color: lightyellow;
            cursor: pointer;
        }

        div.not_registered {
            margin-top: 25px;
            text-align: center
        }

        div.not_registered a {
            text-decoration: none;
            color: lightyellow;
        }
        div.already_reg {
            margin-top: 40px;
            text-align: center;
            margin-bottom: 20px;
        }

        div.already_reg a {
            text-decoration: none;
            color: lightyellow;
        }

        button.submit_button:hover {
            background-color: #ff8080;
            box-shadow: 0px 4px ;
            color: lightyellow;
        }
        button.submit_button_reg:hover {
            background-color: #ff8080;
            box-shadow: 0px 4px ;
            color: lightyellow;
        }

        .container {
            max-width: 70%;
            margin: auto;
            background-color: #ff8080;
            box-shadow: 4px 3px 0.5 #ff8080;
            padding: 200px 0px;
            margin-top: 6%;
            position: relative;

        }

        .heading {
            color: lightyellow;
            text-align: center;
        }

        .title {
            font-size: 25px;
            font-variant: small-caps;
        }

        .sub_title {
            font-size: 13px;
            margin-left: 5px;
        }

        .title::first-letter {
            color: #fffb00;
            font-size: 200%;
        }

        div.left_col {
            position: absolute;
            top: 0;
            left: 0;
            width: 65%;
            height: 100%;
        }

        .left_col img.side_img {
            width: 100%;
            height: 100%;
            filter: grayscale(100%);
            transition: 3s;
        }

        div.left_col:hover img.side_img {
            filter: blur(0px);
        }

        .right_col:hover {
            transition: 1s;
            /* background-color: #ff0088; */
        }

        div.right_col {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(170, 2, 2, 0.19);
            position: absolute;
            top: 0;
            right: 0;
            width: 35%;
            height: 100%;
            /* border: 1px solid red; */
            padding: 0px 10px;
            overflow: auto;

        }
        form {
            width: 100%;
        }
        input[type=email] {
            background-color: lightyellow;
            border: 1px;
            width: 100%;
            height: 50px;
            padding: 0px 35px 0px 25px;
            display: block;
            margin: 10px 0px;
            border-radius: 35px 35px 35px 35px;
            outline: none;
            background-image: url('email.PNG');
            background-position: 97% ;
            background-size: 20px;
            background-repeat: no-repeat;
            

        }
        input[type=password] {
            background-color: lightyellow;
            border: 1px;
            width: 100%;
            height: 50px;
            padding: 0px 35px 0px 25px;
            display: block;
            margin: 10px 0px;
            border-radius: 35px 35px 35px 35px;
            outline: none;
            background-image: url('pass.PNG');
            background-position: 97% ;
            background-size: 20px;
            background-repeat: no-repeat;
            

        }
        input[type=text] {
            background-color: lightyellow;
            border: 1px;
            width: 100%;
            height: 50px;
            padding: 0px 35px 0px 25px;
            display: block;
            margin: 10px 0px;
            border-radius: 35px 35px 35px 35px;
            outline: none;
            background-image: url('gen_text.png');
            background-position: 97% ;
            background-size: 20px;
            background-repeat: no-repeat;
            

        }
        textarea{
             background-color: lightyellow;
            border: 1px;
            width: 100%;
            height: 70px;
            padding: 26px 25px 0px 25px;
            display: block;
            margin: 10px 0px;
            border-radius: 35px 35px 35px 35px;
            outline: none;
            resize: none;
        }
        div.user_name div.user_email div.user_pass{
            position: relative;
        }
        div.user_name>span{
           
             pointer-events: none;
            position: absolute;
            left: 31px;
            margin-top: -45px;
            display: none;
            transition: 0.5s;
            transition-timing-function: ease;
            background-color: lightyellow;
            color: #ff8080;
              display: none;
            font-weight: bold;
        }
        div.user_email>span{
            pointer-events: none;
            position: absolute;
            left: 31px;
            margin-top: -45px;
              display: none;
            transition: 0.5s;
            transition-timing-function: ease;
            background-color: lightyellow;
            color: #ff8080;
            font-weight: bold;
        }
        div.user_pass>span{
            pointer-events: none;
            position: absolute;
            left: 31px;
            margin-top: -45px;
              display: none;
            transition: 0.5s;
            transition-timing-function: ease;
            background-color: white;
            color: #ff8080;
            font-weight: bold;
        }
         input::-webkit-input-placeholder {
            color: #ff8080;
             font-size: 16px;
             font-weight: bold;
            }
         textarea::-webkit-input-placeholder {
        color: #ff8080;
            font-size: 16px;
            font-weight: bold;
        }

            /* Another way */
        /* .email_img {
            position: absolute;
            right: 20px;
            width: 20px;
            margin-top: -45px;
           
        }

        .pass_img {
           position: absolute;
            right: 20px;
            width: 20px;
            margin-top: -45px;
        } */

        

        /* div.user_email>input:focus+span.eml,
        input:not(:placeholder-shown)+span {
            opacity: 1;
            transform: scale(0.7) translateY(100%) translateX(-15px);
            color: black;
        }

        div.user_pass>input:focus+span.pass,
        input:not(:placeholder-shown)+span {
            opacity: 1;
            transform: scale(0.7) translateY(100%) translateX(-8px);
            color: black;
        } */

        .container_r {
            position: relative;
            padding-left: 25px;
            cursor: pointer;
            color: lightyellow;
        }

        .container_r input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: lightyellow;
            border-radius: 50%;

        }

        .container_r input:checked~.checkmark {
            background-color: #ff8080;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(170, 2, 2, 0.19);

        }

        .container_r input:checked~.checkmark:after {
            display: block;

        }

        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
            left: 6px;
            top: 2px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;

            transform: rotate(45deg);
        }

        @media screen and (max-width: 1000px) {
            div.left_col {
                position: relative;
                width: 100%;
                height: 100%;
                display: block;
            }

            .container {
                max-width: 100%;
                margin: auto;
                /* border: 5px solid black; */
                background-image: linear-gradient(to right, #f5f5f5, #ff0088);
                box-shadow: 4px 3px 0.5 #ff0088;
                margin-top: 0px;
                padding: 0px 0px;
            }

            div.right_col {
                position: relative;
                display: block;
                width: 100%;
                overflow: hidden;
                padding: 0px 10px;
            }
        }
